@page
@model ForgotPasswordConfirmation

@{
    ViewData["Title"] = "Redefinir senha";
}

<link rel="stylesheet" href="~/css/site.css" />

@{
    ViewData["Title"] = "E-mail enviado";
}
<h1>@ViewData["Title"]</h1>
<p>
    Por favor, verifique seu e-mail para redefinir sua senha.
</p>